body{

    background-color: #F9FAFF;
    
    }
    
    
    
    .side-design{
    
    background-color: #010000;
    
    margin: 0;
    
    /* height: 100vh; */
    
    color: rgb(189, 2, 2);
    
    }
    
    
    
    .cbg-form{
    
    border-radius: 20px;
    
    background-color: #ffffff;
    
    padding: 40px;
    
    }
    
    
    
    .form-div{
    
    padding: 80px;
    
    }
    
    
    
    .logo{
    
    padding-top: 30px;
    
    }
    
    